.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login-page h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.login-page label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.login-page input[type="email"],
.login-page input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.login-page input[type="email"]:focus,
.login-page input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #4caf50;
}

.login-page button[type="submit"] {
  /* width: 50%; */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button[type="submit"]:hover {
  background-color: #3e8e41;
}