.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  margin-left: 80px;
}

.content {
  flex-basis: 50%;
}

.content-img {
  flex-basis: 50%;
}

.img-planner-2 {
  width: 500px;
  height: auto;
}

.heading {
  text-align: left;
  margin-top: 50px;
  font-size: 50px;
  margin-left: 2%;
  font-family: "inter var", sans-serif;
  font-weight: bold;
  color: black;
}

.text {
  text-align: left;
  font-family: "inter var", sans-serif;
  /* font-size: 15px; */
  margin-left: 2%;
  /* font-weight: 200; */
  color: black;
}

.discovery button {
  /* Style commun à tous les boutons */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 2%;
  margin-top: 20px;
}

.actions button:hover {
  /* Style lors du survol */
  background-color: #fff;
}

.Découvrir {
  background-color: #000;
  color: #fff;
}

.Découvrir:hover {
  /* Style lors du survol */
  background-color: #fff;
  color: #000;
}
