nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  /* margin-right: 2%; */
  /* margin-left: 3%; */
  margin-top: 2%;
  border-bottom: 1px solid #333;
  width: 100%;
}



.Logo {
  font-family: "inter var", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 50px;
  line-height: 16px;
  margin-left: 2%;
}

li {
  display: inline-block; /* Alignement des éléments horizontalement */
  margin-right: 30px; /* Espacement entre les éléments */
  font-family: "inter var", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 16px;
}

a {
  text-decoration: none; /* Suppression du soulignement */
  list-style: none;
  text-decoration: none; /* Supprime le soulignement par défaut */
  color: inherit; /* Hérite la couleur du texte du parent */
  cursor: pointer; /* Définit le curseur de la souris en tant que pointeur */
  outline: none; /* Supprime la bordure de contour */
}
